          <!-- add the beginning of first workout container -->
          
            <% let existingWorkoutsArray = []; %>
            <!-- loop throught the workout list -->  
            <% for (let i = 0; i < model.length; i++) { %>
              <% if (!existingWorkoutsArray.includes(model[i].id)) { %>
                <% existingWorkoutsArray.push(model[i].id); %>
                <div class="container-box">  <!-- opening new workout container -->
                  <h5 class="user-name"><a href="/users/<%= model[i].email %>"><%= model[i].first_name %> <%= model[i].surname%></a></h5>
                  <p class="subtitle"><%= model[i].date_time %></p>
                  <h3 class="workout-name"><a href="/workouts/<%= model[i].id %>"><%= model[i].workout_name %></a></h3>
                  <% let workoutVolume = 0; %>
                  <% let workoutSets = 0; %>
                  <% let workoutReps = 0; %>
                  <% let currentWorkout = model[i].id %>
                  <% for (let i = 0; i < model.length; i++) { %>    
                    <% if (model[i].id === currentWorkout) { %>
                      <% workoutVolume += (model[i].sets * model[i].avg_reps * model[i].avg_weight); %>
                      <% workoutSets += model[i].sets; %>
                      <% workoutReps += model[i].sets * model[i].avg_reps; %>
                    <% } %>  
                  <% } %>
                  <div class="flex-container workout-summary">
                    <h4 class="flex-summary-item">Sets: <%= workoutSets %></h4>
                    <h4 class="flex-summary-item">Reps: <%= workoutReps %></h4>
                    <h4 class="flex-summary-item">Volume: <%= (workoutVolume/1000).toFixed(1) %> t</h4>
                  </div>
                  <table class= "sets-table" id="sets-table-<%= model[i].id %>">
                    <tr>
                      <th>Lyft</th>
                      <th>Sets</th>
                      <th>Avg reps</th>
                      <th>Avg weight</th>
                      <th>Max weight</th>
                    </tr>
                    <tr>
                      <td width="100%"><%= model[i].lift_name %></td>
                      <td width="10%"><%= model[i].sets %></td>
                      <td width="10%"><%= model[i].avg_reps %></td>
                      <td width="10%"><%= model[i].avg_weight %></td>
                      <td width="10%"><%= model[i].max_weight %></td>      
                    </tr>
                  </table>
                  <div class="flex-container comment-section">
                    <span id="comment-summary-<%= model[i].id %>" onclick="showModal(this)">
                      <% for (let j = 0; j < bumps.length; j++) { %>
                        <% if (model[i].id === bumps[j].workout_id) { %>
                          <span id="fist-bump-count-<%= model[i].id %>"><%= bumps[j].count %></span><span> fist bumps!</span>   
                          <% break %>
                        <% } else if (j === bumps.length -1 ) { %>   
                          <span>Be the first one to bump your bro!</span>
                        <% } %> 
                      <% } %>
                    </span>
                    <div id="button-container">
                      <button type="button" class="comment-button" id="<%= model[i].id %>" onclick="addFistBump(this)">
                        <% for (let j = 0; j < bumps.length; j++) { %>
                          <% if (model[i].id === bumps[j].workout_id && user.id === bumps[j].user_id) { %>
                            <i class="fas fa-hand-rock" id="fist-<%= bumps[j].workout_id %>"></i>
                            <% break %>
                          <% } else if (j === bumps.length -1 ) { %>
                            <i class="far fa-hand-rock" id="fist-<%= model[i].id %>"></i>
                          <% } %>
                        <% } %>
                      </button>
                      <button type="button" class="comment-button" id="comment"><i class="far fa-comment"></i></button>
                    </div> <!-- closing the button container -->
                  </div> <!-- closing the comment section --> 
                </div> 
              <% } else if (existingWorkoutsArray.includes(model[i].id)) { %>
                <% let newSet = document.createElement("tr"); %>
                <% newSet.innerHTML = `<td width="100%">${model[i].lift_name}</td><td width="10%">${model[i].sets}</td><td width="10%">${model[i].avg_reps}</td><td width="10%">${model[i].avg_weight}</td><td width="10%">${model[i].max_weight}</td>`; %>
                <% let table = document.getElementById(`sets-table-${model[i].id}`); %>
                <% table.appendChild(newSet); %>       
              <% } %>
            <% } %>



<script>
//add fist bump
async function addFistBump(e) {
  const workoutId = e.id;
  const data = {
    workoutId: workoutId
  };
  let response = await fetch(`/api/workouts/fist-bumps/add/`,
   {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify(data)
  })
  // check if fist bump has been added
  if (response.status === 201) {
    console.log("Fist bump added");
    let elementToUpdate = document.getElementById(`fist-bump-count-${workoutId}`);
    if (elementToUpdate) {  //check if a counter element already exists
      //increment counter
      let currentCount = Number(document.getElementById(`fist-bump-count-${workoutId}`).innerHTML);
      currentCount ++;
      document.getElementById(`fist-bump-count-${workoutId}`).innerHTML = currentCount;
    } else {   // add new counter
      let newCount = document.createElement("span");
      newCount.setAttribute("id", `fist-bump-count-${workoutId}`)
      newCount.innerHTML = "1";
      let newText = document.createElement("span");
      newText.innerHTML = " fist bumps!";
      let container = document.getElementById(`comment-summary-${workoutId}`);
      container.innerHTML = "";
      container.appendChild(newCount);
      container.appendChild(newText);
    }
    //update the icon button
    let icon = document.getElementById(`fist-${workoutId}`);
    icon.className = "fas fa-hand-rock";
  }
};


</script>