<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="./resources/Lbs logo fat.PNG" type="image/x-icon" />
    <title>Lyft feed</title>
  </head>
  <body>
    <%- include("_header") -%>
    <main id="feed-main">
      <div class="container-box tile" id="stat-container">
        <h4>Your summary</h4>
        <% if (user) { %>
          <%= user.first_name %> <%= user.surname %>
       <% } %>
      </div>
      <div class="container" id="feed-container">
        <% if (typeof model[0] !== "undefined") { %>
        <div class="container-box tile">
            <% let existingWorkoutsArray = []; %>
            <% existingWorkoutsArray.push(model[0].id); %>
            <span class="hidden" id=""></span>
            <h5 class="user-name"><%= model[0].first_name %> <%= model[0].surname %></h5>
            <p class="workout-date"><%= model[0].date_time %></p>
            <h3 class="workout-name"><%= model[0].workout_name %></h3>
            <table class= "sets-table" id="sets-table-<%= model[0].id %>">
              <tr>
                <th>Lyft</th>
                <th>Weight</th>
                <th>Reps</th>
                </tr>
                <% workouts: for (let i = 0; i < model.length; i++) { %>
              <% if (existingWorkoutsArray.includes(model[i].id)) { %>
                <tr>
                  <td width="60%"><%= model[i].lift_name %></td>
                  <td width="20%"><%= model[i].weight %></td>
                  <td width="20%"><%= model[i].reps %></td>  
                  </tr>
                  <%  } else { %>
                    <% existingWorkoutsArray.push(model[i].id); %>
                  </table>
                  <div class="flex-container" id="comment-section">
                    <span id="comment-summary-<%= model[i].id %>">
                      <% bumps: for (let j = 0; j < bumps.length; j++) { %>
                        <% if (model[i].id === bumps[j].workout_id) { %>
                        <span id="fist-bump-count-<%= model[i].id %>"><%= bumps[j].count %></span><span> fist bumps!</span>   
                          <% break %>
                        <% } else if (j === bumps.length -1 ) { %>   
                          <span>Be the first one to bump your bro!</span>
                        <% } %> 
                    <% } %>
                    </span>
                    <div id="button-container">
                      <button type="button" class="comment-button" id="<%= model[i].id %>" onclick="addFistBump(this)">
                        <% bumps2: for (let j = 0; j < bumps.length; j++) { %>
                          <% if (model[i].id === bumps[j].workout_id && user.id === bumps[j].user_id) { %>
                            <i class="fas fa-hand-rock" id="fist-<%= bumps[j].workout_id %>"></i>
                            <% break  bumps2 %>
                          <% } else if (j === bumps.length -1 ) { %>
                            <i class="far fa-hand-rock" id="fist-<%= model[i].id %>"></i>
                        <% } %>
                        <% } %>
                        </button>
                      <button type="button" class="comment-button" id="comment"><i class="far fa-comment"></i></button>
                    </div> 
                  </div>
                </div>
                <div class="container-box tile">
          <h5 class="user-name"><%= model[i].first_name %> <%= model[i].surname%></h5>
          <p class="workout-date"><%= model[i].date_time %></p>
          <h3 class="workout-name"><%= model[i].workout_name %></h3>
          <table class= "sets-table" id="sets-table-<%= model[i].id %>">
            <tr>
              <th>Lyft</th>
              <th>Weight</th>
              <th>Reps</th>
            </tr>
            <tr>
              <td width="60%"><%= model[i].lift_name %></td>
              <td width="20%"><%= model[i].weight %></td>
              <td width="20%"><%= model[i].reps %></td>  
            </tr>
            <% } %>
            <% } %>
          </table>

      </div>
        </div>
        <% } else { %>
          <div class="container-box tile">
            <h4>No workouts logged yet! Get lyftin!</h4>
          </div>
        <% } %>
      </div>
      <div class="container-box tile" id="bros-container">
        <h4>Your bros</h4>
        <div id="users-container">
          <% if (bros[0]) { %>
            <%for (let i = 0; i < bros.length; i++) { %>
            <a href="/users/<%= bros[i].email %>"><p class="user-list-item"><%= bros[i].first_name %> <%= bros[i].surname %></p></a>
            <% } %>
          <% } %>
        </div>
      </div>
    </main>
    <script src="./feed.js"></script>
  </body>
</html>
