<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="https://kit.fontawesome.com/e6936a79ca.js" crossorigin="anonymous"></script>
    <link rel="icon" href="./resources/Lbs logo fat.PNG" type="image/x-icon" />
    <title>Lyft feed</title>
  </head>
  <body>
    <%- include("_header") -%>
    
    <main id="feed-main">

      <!-- container with user stats -->
      <div class="container-box" id="stat-container">
        <% if (user) { %>
          <h4>Welcome <a href="/users/<%= user.email %>/"><%= user.first_name %>!</a></h4>
          <div class="inner-container">
            <h5>Your last workout:</h5>
            <% for (let i = 0; i < model.length; i++) { %>   
              <% if (model[i].email === user.email) { %>
                <p><%= model[i].workout_name %> @ <%= model[i].date_time %></p>
                <% break %>
                <% } %> 
                <% } %> 
          </div>
          <div class="inner-container">
            <h5>Last 4 weeks:</h5>
            
              <% let countedWorkouts = []; %>
              <% for (let i = 0; i < model.length; i++) { %>   
                <% if (model[i].email === user.email && !countedWorkouts.includes(model[i].id)) { %>
                  <% countedWorkouts.push(model[i].id) %>
                  <% } %> 
                  <% } %>
              <div class="flex-container list-item">
                <span>Workouts: </span><span class="value"><%= countedWorkouts.length %></span> 
              </div> 
              <% let totalVolume = 0; %>
              <% let totalSets = 0; %>
              <% let totalReps = 0; %>
              <% for (let i = 0; i < model.length; i++) { %>   
                <% if (model[i].email === user.email) { %>
                  <% totalVolume += (model[i].avg_weight * model[i].avg_reps * model[i].sets); %>
                  <% totalSets += model[i].sets; %>
                  <% totalReps += model[i].avg_reps * model[i].sets; %>
                  <% } %> 
                  <% } %>
                <div class="flex-container list-item">
                  <span>Sets: </span><span class="value"><%= totalSets %></span>
                </div>
                <div class="flex-container list-item">
                  <span>Reps: </span><span class="value"><%= totalReps %></span>
                </div>
                <div class="flex-container list-item">
                  <span>Volume: </span><span class="value"><%= (totalVolume/1000).toFixed(1) %> t</span>
                </div>

          </div>
        <% } %>
      </div>

      <!-- container with the feed-->
      <div class="container" id="feed-container">

        <%- include("_activity-feed") -%>

      </div> <!-- closing the feed container -->

      <!-- Leaderboard container -->
      <div class="container-box" id="leaderboard-container">
        <h4 id="leaderboard-heading">Leaderboards</h4>
        <p class="subtitle">(Last 4 weeks)</p>
        <div class="inner-container">
          <% if (totalLeaderboard[0]) { %>
            <h5>Most workouts:</h5>
            <% for (let i = 0; i < totalLeaderboard.length; i++) { %>
                <div class="flex-container list-item">
                  <a href="/users/<%= totalLeaderboard[i].email %>"><span><%= i+1 %>. <%= totalLeaderboard[i].first_name %> <%= totalLeaderboard[i].surname %> </a></span><span class="value"><%= totalLeaderboard[i].workouts %></span>
                </div>
            <% } %>
          <% } %>
        </div>
        <div class="inner-container">

          <% if (volumeLeaderboard[0]) { %>
            <h5>Highest volume:</h5>
            <% for (let i = 0; i < volumeLeaderboard.length; i++) { %>
              <div class="flex-container list-item">
                <a href="/users/<%= volumeLeaderboard[i].email %>"><span class="user-list-item"><%= i+1 %>. <%= volumeLeaderboard[i].first_name %> <%= volumeLeaderboard[i].surname %></span></a><span class="value"><%= (volumeLeaderboard[i].volume/1000).toFixed(1) %> t</span>
              </div>
                <% } %>
          <% } %>
        </div>
      </div>

      <!-- hidden comment modal container -->
      <div id="commentModal" class="modal">
        <%- include("_comment-modal") -%> 
      </div>
    </main>
  </body>
</html>
