<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../style.css" />
    <link href="https:#stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="../../resources/Lbs logo fat.PNG" type="image/x-icon" />
    <title>User details</title>
  </head>
  <body>
    <%- include("_header") -%>
    <main id="user-main">
      <div class="container-box tile" id="user-summary-container">
        <h4>Bro's summary</h4>
        <div class="flex-container list-item">
          <span>Name: </span><span class="value"><%= user.first_name %> <%= user.surname %></span>
        </div>
        <div class="flex-container list-item">
          <span>Gender: </span><span class="value"><%= user.gender %></span>
        </div>

        <div class="inner-container">
          <h5>Last 4 weeks:</h5>
          
            <% let countedWorkouts = []; %>
            <% for (let i = 0; i < model.length; i++) { %>   
              <% if (model[i].email === user.email && !countedWorkouts.includes(model[i].id)) { %>
                <% countedWorkouts.push(model[i].id) %>
                <% } %> 
                <% } %>
            <div class="flex-container list-item">
              <span>Workouts: </span><span class="value"><%= countedWorkouts.length %></span> 
            </div> 
            <% let totalVolume = 0; %>
            <% let totalSets = 0; %>
            <% let totalReps = 0; %>
            <% for (let i = 0; i < model.length; i++) { %>   
              <% if (model[i].email === user.email) { %>
                <% totalVolume += (model[i].weight * model[i].reps); %>
                <% totalSets ++; %>
                <% totalReps += model[i].reps; %>
                <% } %> 
                <% } %>
              <div class="flex-container list-item">
                <span>Sets: </span><span class="value"><%= totalSets %></span>
              </div>
              <div class="flex-container list-item">
                <span>Reps: </span><span class="value"><%= totalReps %></span>
              </div>
              <div class="flex-container list-item">
                <span>Volume: </span><span class="value"><%= (totalVolume/1000).toFixed(1) %> t</span>
              </div>

        </div>
      </div>
      <div id="user-activity-container">
        <% if (model[0]) { %>
        <div class="container-box tile">
          <% let existingWorkoutsArray = []; %>
          <% existingWorkoutsArray.push(model[0].id); %>
          <h4 class="user-name"><%= model[0].first_name %> <%= model[0].surname %></h4>
          <p class="workout-date"><%= model[0].date_time %></p>
          <h3 class="workout-name"><%= model[0].workout_name %></h3>
          <table class= "sets-table" id="sets-table-<%= model[0].id %>">
            <tr>
              <th>Lyft</th>
              <th>Weight</th>
              <th>Reps</th>
            </tr>
          <%for (let i = 0; i < model.length; i++) { %>
            <% if (existingWorkoutsArray.includes(model[i].id)) { %>
              <tr>
                <td width="60%"><%= model[i].lift_name %></td>
                <td width="20%"><%= model[i].weight %></td>
                <td width="20%"><%= model[i].reps %></td>  
              </tr>
          <%  } else { %>
            <% existingWorkoutsArray.push(model[i].id); %>
          </table>

        </div>
        <div class="container-box tile">

          <h4 class="user-name"><%= model[i].first_name %> <%= model[i].surname%></h4>
          <p class="workout-date"><%= model[i].date_time %></p>
          <h3 class="workout-name"><%= model[i].workout_name %></h3>
          <table class= "sets-table" id="sets-table-<%= model[i].id %>">
            <tr>
              <th>Lyft</th>
              <th>Weight</th>
              <th>Reps</th>
            </tr>
            <tr>
              <td width="60%"><%= model[i].lift_name %></td>
              <td width="20%"><%= model[i].weight %></td>
              <td width="20%"><%= model[i].reps %></td>  
            </tr>
            <% } %>
            <% } %>
          </table>
        </div>
        <% } else {%>
          <div class="container-box tile">
            <h4>No workouts logged yet! Get lyftin!</h4>
          </div>
        <% } %>
      </div>  

      <div class="container-box tile" id="user-prs-container">
        <h4>Bro's PRs</h4>
        <table>
          <tr>
            <th>Lyft</th>
            <th>10 reps</th>
            <th>5 reps</th>
          </tr>
          <tr>
            <%for (let i = 0; i < prs.length; i++) { %>
            </tr>
              <td width="40%"><%= prs[i].name %></td>
              <td width="10%"><%= prs[i].ten_reps %></td>
              <td width="10%"><%= prs[i].five_reps %></td>
            <tr>
            <% } %>
            
          </tr>
        </table>
      </div>
    </main>
  </body>
</html>
